venv
alignments.txt
alignments-prob.txt
output.txt
awesome-align/zhen.src-tgt
unmodified_zh-en-translated_sentences.txt
.DS_Store
.idea/
.ipynb_checkpoints
FTIE/
model_without_co
/awesome-align/
/zhen.src-tgt
refactored_parallel_sentences.txt
/training_data.csv
/zhenTranslationMbart/
/mbartTrans/
